 canvas{
        padding: 50px 250px 50px 250px;
       }

  body{
        background: url("http://www.hydro-games.com/files/DK/Level_test.jpg");
       }

  ul{
        margin:  50px 250px 50px 250px;
        border: 3px solid white;
        color:  white;
        font-size: 25px;
       }
  #time{
        font-size: 20px;
        color: #ff0000;
       }
  #heading{
        color: #00ff00;
        padding-left: 400px;
        font-size: 35px;
       }
  #mute{

        background-color:  red;
       }